<form class="mt-4" name="container-form" method="post" action="/courses/handle-form-actions">
  <div>
    <h3>Khóa học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
  </div>

  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="checkbox-all"
      />
      <label class="form-check-label" for="checkbox-all">
        Chọn tất cả
      </label>
    </div>

    <select
      class="form-select form-select-sm checkbox-select-all-options ms-3"
      aria-label="Default select example"
      name="action"
      required
    >
      <option selected="selected" value="" disabled>-- Hành động --</option>
      <option value="delete">Xóa</option>
      {{! <option value="2">Two</option>
      <option value="3">Three</option> }}
    </select>

    <button class="btn btn-primary btn-sm ms-3 disabled check-all-submit-btn">Thực hiện</button>
  </div>

  <table class="table table-bordered table-hover mt-4">
    <thead>
      <tr>
        <th scope="col" style="width: 5%;"></th>
        <th scope="col" style="width: 5%;">Id {{{sortable "_id" _sort}}}</th>
        <th scope="col" style="width: 45%;">Tên khóa học {{{sortable "name" _sort}}}</th>
        <th scope="col" style="width: 20%;">Trình độ {{{sortable "level" _sort}}}</th>
        <th scope="col" style="width: 20%;" colspan="2">Thời gian tạo {{{sortable "createdAt" _sort}}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="{{this._id}}"
                name="courseIds[]"
              />
            </div>
          </td>
          <td>{{this._id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link btn-sm">Sửa</a>
            <a
              href="#"
              class="btn btn-link btn-sm"
              data-toggle="modal"
              data-id="{{this._id}}"
              data-target="#delete-course-modal"
            >Xóa</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="6" class="text-center">
            Bạn chưa đăng khóa học nào.
            <a href="/courses/create">Đăng khóa học</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>


{{! Confirm delete course }}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form }}
<form name="delete-course-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');

    // When dialog confirm clicked
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('id');
    });

    // When delete course btn clicked
    btnDeleteCourse.onclick = function () {
      deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
      deleteForm.submit();
    };
  });

  var checkboxAll = document.getElementById('checkbox-all');
  var courseItemCheckbox = document.querySelectorAll('input[name="courseIds[]"]');

  checkboxAll.onclick = function () {
    courseItemCheckbox.forEach(function (checkbox) {
      checkbox.checked = checkboxAll.checked;
    });    
    renderCheckAllSubmitBtn();
  };

  courseItemCheckbox.forEach(function (checkbox) {
    checkbox.onclick = function () {
      var isAllChecked = true;
      courseItemCheckbox.forEach(function (checkbox) {
        if (!checkbox.checked) {
          isAllChecked = false;
        }
      });

      checkboxAll.checked = isAllChecked;

      renderCheckAllSubmitBtn();
    };
  });

  function renderCheckAllSubmitBtn() {
    var checkedCount = 0;
    courseItemCheckbox.forEach(function (checkbox) {
      if (checkbox.checked) {
        checkedCount++;
      }
    });
    if (checkedCount > 0) {
      document.querySelector('.check-all-submit-btn').classList.remove('disabled');
    } else {
      document.querySelector('.check-all-submit-btn').classList.add('disabled');
    }
  }
  
  var checkAllSubmitBtn = document.querySelector('.check-all-submit-btn');
  checkAllSubmitBtn.onclick = function () {
    var isSubmitable = checkAllSubmitBtn.classList.contains('disabled');
    if (isSubmitable) {
      return false;
    }
  };

</script>
